{% extends "base.html" %}
{% block mainContent%}


<div id="articleBody">
    <header>
        <h1>{{article.title}}</h1>
        <h5 id="AuthorCred"> Written by: {{article.author}} </h5>
        <p id="introStatement">
            <b>
                {{article.description}}
            </b>
        </p>
    </header>




    <div id="articleArabicContentDiv">
        {{article.arabicContent | safe }}
    </div>

    <div id="articleContentDiv">
        {{article.content | safe }}
    </div>

    <div id="FloatingLikeButton" class="FloatingLikeButton" data-value='{{article.id}}'>

        <div>
            <img id="likeButton" src="/like-plus.png" width=70% alt="click to like the article">
        </div>
        <div>

            <h3 id="numberOfLikes">
                {{article.likes}}
            </h3>

        </div>

    </div>

</div>


{% endblock %}