<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Search Engine</title>
    <link rel="stylesheet" href="/index.css">
    <link href="https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css" rel="stylesheet"
        type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js"></script>
</head>

<body>
    <header>
        <div class="HeaderBar">
            <a href="/" class="Logo">
                <h1 class="LogoText">Movie Search Engine</h1>
            </a>
            <div id="languageSelector">
                <select name="language" id="selectLanguage">
                    <option value="English"> English </option>
                    <option value="Arabic"> Arabic </option>
                </select>
            </div>
        </div>
    </header>

    <main>
        <div id="mainContent">
            {% block mainContent %}
            {% endblock %}
        </div>
    </main>

    <footer>
        <div class="FooterText">
            <p>&copy; 2023 Movie Search Engine</p>
        </div>
        <div class="FooterText">
            <p>Created by Abdullah Darwish</p>
        </div>
    </footer>

    <script src="/frontendJS.js"></script>
</body>

</html>