{% extends 'base.html' %}
{% block mainContent%}

<section id='createAnArticlePage'>

    <h1 id='topText'> Create an article </h1>
    <form id='articleForm' method='post' action='/new'>
        <p>
            <Label for='title' class='ElementOfArticleCreation' id='titleLabel'> Title </Label>
            <input type='text' class='ElementOfArticleCreation' id='title' name='title' value='{{article.title}}'>
        </p>

        <p>
            <Label for='author' class='ElementOfArticleCreation' id='authorLabel'> Author </Label>
            <input type='text' class='ElementOfArticleCreation' id='author' name='author' value='{{article.author}}'>
        </p>

        <p>
            <Label for='description' class='ElementOfArticleCreation' id='descriptionLabel'> Description
            </Label>
            <textarea name='description' class='ElementOfArticleCreation'
                id='description'> {{article.description}} </textarea>
        </p>

        <p class="foroala_container">
            <Label for='content' class='' id='contentLabel'> content </Label>
            <textarea name='content' class='ElementOfArticleCreation' id='content'
                rows=10> {{article.content}} </textarea>
        </p>

        <p class="foroala_container">
            <Label for='arabicContent' class='' id='arabicContentLabel'> Arabic content
            </Label>
            <textarea name='arabicContent' class='' id='arabicContent' rows=10> {{article.arabicContent}} </textarea>
        </p>
        <button type='submit' class='ElementOfArticleCreation Button' id='submitButton'> Create </button>
    </form>




</section>


{% endblock %}